
{{!-- pseudo added to header --}}
<div class="flex items-center justify-center flex-col">
    <h1 class="font-bold text-xl">
        {{this.firstName}}  {{this.lastName}}
    </h1>
    <p>{{this.role.name}} ({{this.role.abbrev}})</p>
</div>





<div class="bg-blue min-h-[80%] grid grid-cols-2 justify-center mt-5">

<div >
   
</div>

<div>
    <h2>Students</h2>
    <div role="tablist" class="tabs tabs-lifted" id="student-tabs">
        {{#each this.students}}
            <input type="radio" name="{{firstName}}-tab" role="tab" class="tab" aria-label="{{lastName}}"/>
            <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
                <h2>{{firstName}} {{lastName}}</h2>
        <div id="goals-div" class="grid grid-cols-2">
                {{#each this.goals}}
                    
                <div class="card w-96 bg-base-100 ">
                    {{#if beingMet}}
                        <div class="card-body border-green-700 border rounded mb-3">

                    {{else}}
                        <div class="card-body border border-red-400 rounded mb-3">
                    {{/if}}
                    
                        <h2 class="card-title">{{title}}</h2>
                        <p>{{description}}</p>
                        <div class="card-actions justify-end">
                            <button class="btn btn-primary" data-goal-id="{{id}}">More Info</button>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>    
            </div>
        {{/each}}
    </div>
</div>

</div>


<script src="/js/profile.js"></script>

